<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.zk.ZkHouseMapper">
    
    <resultMap type="ZkHouse" id="ZkHouseResult">
        <result property="id"    column="id"    />

        <result property="houseSize"    column="house_size"    />
        <result property="houseMoney"    column="house_money"    />
        <result property="houseDescription"    column="house_description"    />
        <result property="cityId"    column="city_id"    />
        <result property="houseName"    column="house_name"    />
    </resultMap>

    <sql id="selectZkHouseVo">
        select id,  house_size, house_money, house_description, city_id,house_name from zk_house
    </sql>

    <select id="selectZkHouseList" parameterType="ZkHouse" resultMap="ZkHouseResult">
        <include refid="selectZkHouseVo"/>
        <where>  

            <if test="houseSize != null  and houseSize != ''"> and house_size = #{houseSize}</if>
            <if test="houseMoney != null  and houseMoney != ''"> and house_money = #{houseMoney}</if>
            <if test="houseDescription != null  and houseDescription != ''"> and house_description = #{houseDescription}</if>
            <if test="cityId != null  and cityId != ''"> and city_id = #{cityId}</if>
            <if test="houseName != null  and houseName != ''"> and house_name = #{houseName}</if>
        </where>
    </select>
    
    <select id="selectZkHouseById" parameterType="String" resultMap="ZkHouseResult">
        <include refid="selectZkHouseVo"/>
        where id = #{id}
    </select>

    <select id="selectZkHouseListByCityId" parameterType="String" resultMap="ZkHouseResult">
        <include refid="selectZkHouseVo"/>
        where city_id = #{cityId}
    </select>

        
    <insert id="insertZkHouse" parameterType="ZkHouse">
        insert into zk_house
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>

            <if test="houseSize != null">house_size,</if>
            <if test="houseMoney != null">house_money,</if>
            <if test="houseDescription != null">house_description,</if>
            <if test="cityId != null">city_id,</if>
            <if test="houseName != null">house_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>

            <if test="houseSize != null">#{houseSize},</if>
            <if test="houseMoney != null">#{houseMoney},</if>
            <if test="houseDescription != null">#{houseDescription},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="houseName != null">#{houseName},</if>
         </trim>
    </insert>

    <update id="updateZkHouse" parameterType="ZkHouse">
        update zk_house
        <trim prefix="SET" suffixOverrides=",">

            <if test="houseSize != null">house_size = #{houseSize},</if>
            <if test="houseMoney != null">house_money = #{houseMoney},</if>
            <if test="houseDescription != null">house_description = #{houseDescription},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="houseName != null">house_name = #{houseName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZkHouseById" parameterType="String">
        delete from zk_house where id = #{id}
    </delete>

    <delete id="deleteZkHouseByIds" parameterType="String">
        delete from zk_house where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>